/OneDrive/Documents/NetBeansProjects/BaileyCreateCoffee/nbproject/private/
/OneDrive/Documents/NetBeansProjects/BaileyCreateCoffee/build/
/OneDrive/Documents/NetBeansProjects/BaileyPersonalProjectGUI/nbproject/private/
/OneDrive/Documents/NetBeansProjects/BaileyPersonalProjectGUI/build/
/OneDrive/Documents/NetBeansProjects/BaileyCreateCoffee/dist/
/Desktop/JonesCoffeeJDBC 2/JonesCoffeeJDBC/build/
/Desktop/JonesCoffeeJDBC 2/JonesCoffeeJDBC/nbproject/private/
/OneDrive/Documents/NetBeansProjects/Bailey_Relativity/nbproject/private/
/OneDrive/Documents/NetBeansProjects/Bailey_Relativity/build/
/OneDrive/Documents/NetBeansProjects/BaileyTesting/nbproject/private/
/OneDrive/Documents/NetBeansProjects/BaileyTesting/build/
/Desktop/JFEARS_PizzaGUIfix/build/
/Desktop/JFEARS_PizzaGUIfix/nbproject/private/
/Desktop/JFEARS_PizzaGUIupdate/nbproject/private/
/Desktop/JFEARS_PizzaGUIupdate/build/
/Desktop/JFEARS_PizzaGUI_V4/nbproject/private/
/OneDrive/Documents/NetBeansProjects/Bailey_GUICustomHomes/nbproject/private/
/OneDrive/Documents/NetBeansProjects/Bailey_GUICustomHomes/build/
/OneDrive/Documents/NetBeansProjects/Bailey_GUICustomHomes_1/nbproject/private/
/OneDrive/Documents/NetBeansProjects/Bailey_GUICustomHomes_1/build/